<h1>Welcome to SampleApplication!!</h1>

<%= link_to "MyPage", user_path(current_user.id) %>

<% @responces.each do |responce| %>
  <h3><%= link_to "#{responce.title}", responce_path(responce.id) %></h3>
<% end %>