<h1>サンプルアプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <h4> ユーザー名： <%= @user.username %> </h4>
  <h4> メールアドレス： <%= @user.email %> </h4>
  <%= link_to "編集", edit_user_registration_path(@user.id) %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
  <h3><%= @responces.count %></h3>
  <% @responces.each do |responce| %>
    <h3><%= link_to "#{responce.title}", responce_path(responce.id) %></h3>
  <% end %>
  <%= form_for(@thread) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :title, placeholder: "Compose new thread..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
<% end %>