<h1><%= @responce.title %></h1>
<% if current_user == @responce.user %>
  <%= link_to "delete", responce_path, method: :delete, data: { confirm:"Are you sure?"} %>
<% end %>
<h2>コメント一覧</h2>
<% @microposts.each do |micropost| %>
  <div class=comment>
    <%= micropost.context %>
  </div>
<% end %>

<h2>コメントする</h2>

<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :context, placeholder: "Compose new comment..." %>
  </div>
  <%= f.hidden_field :responce_id, value: @responce.id %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>